[Desktop Entry] 
Name=uartvide
Comment=RS232 serial port communication utility
Exec=/usr/bin/uartvide
Icon=/usr/share/icons/uartvide.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Categories=Development
Name[en]=UartVide

