[Desktop Entry] 
Name=uartvide
Comment=RS232 serial port communication utility
Exec=/usr/share/uartvide/uartvide
Icon=/usr/share/icons/uartvide_256.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Categories=Utility;TextEditor;Development;
Name[en]=UartVide

